body {
    background-image: url("../images/indexbg2.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#indexTitle, #nameTag {
    color: blue;
    text-align: center;
}
.content-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1440px;
    margin: auto;
}

.linkbtn {
    width: 100%;
}

.indexbtn {
    color:red;
    font-size: 20px;
}

#abtme {
    background-color: white;
    border-radius: 5px;
    padding: 10px 20px 10px ;
    margin-top: 50px;
}
#project {
    width: 100%;
    background-color: white;
    padding: 0;
}
.collapsible {
    margin: 0;
    border-radius: 2%;
}
